
.event {
  text-align: center;
  font-size: 24px;
  padding: 1em;
  background-color: #C9DCA9;
  border-radius: 10px;
}

.event-date {
  text-align: center;
  font-size: 24px;
  padding: 1em;
  background-color: #C9DCA9;
  border-radius: 10px;
}

footer {
  background-color: #C9DCA9;
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
#mass-times {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#mass-times img {
  max-width: 150px;
  margin-right: 1em;
}
#mass-times h2 {
  margin: 0;
}
#mass-times p {
  margin: 0;
}
  
