
.event {
  text-align: center;
  font-size: 24px;
  padding: 1em;
  background-color: #C9DCA9;
  border-radius: 10px;
}

.event-date {
  text-align: center;
  font-size: 24px;
  padding: 1em;
  background-color: #C9DCA9;
  border-radius: 10px;
}
  
