input[type="text"], select {
    display: flex;
    width: 60%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 0 auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type="button"], select {
    display: flex;
    width: 25%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 0 auto;
}