:root{
    --white: #FFFFFF;
    --light-green: #EFF4E7;
    --dark: #3e702d;
    --hover-green: #b2c598;
    --accent: #CADCB3;
    --dark-row: #CADCB3;
    --light-row: #dfe9df;
    --table-header: #3e702d;
    --table-border: #751313;
    --highlight: #4fa547;
}

* {
    font-family: sans-serif;
}


/*This makes it so that the page fit properly in the browser*/
body, html{
    margin:0;
    padding:0;
}

/*This specifies the default font of all of the page*/
body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    align-items: center;
}

/*CSS used for the header*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 70px;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

header h2 {
    margin-left: 25px;
    font-size: 35px;
    color: #000000;
    font-family: 'Lusitana', serif;
}
  
header a {
    text-decoration: none;
    color: var(--dark);
    font-family: 'Lusitana', serif;
}

header a:hover {
    color: #182c11;
}

nav {
    width: 100%;
    margin-right: 2%;
}

nav a{
    font-size: 23px;
    height: 50px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

nav li {
    margin: auto;
    position: relative;
    text-align: center;
    width: 100%;
    background-color: transparent;
}


nav .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9999;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

nav .dropdown-content li {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin-bottom: 4px;
    background-color: white;
}

nav .dropdown-content li:hover{
    background-color: var(--accent);
}

nav .dropdown:hover .dropdown-content {
    display: inline-block;
}

.dropdown{
    padding: 20px;
}

/*Styles for the hambuger menu */
/*--====== Global Variables ======--*/
:root {
    --bg-color: #13131f;
    --bg-color-2: #161623;
    --text-color: #a9afc3;
  }
  /*--====== Sidebar ======--*/
  #sidebar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 998;
    max-width: 300px;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--dark);
    box-shadow: 0 10px 20px -4px #000;
    overflow-x: hidden;
    overflow-y: auto;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: opacity 0.3s ease, visibility 0.2s ease, transform 0.3s ease;
    color: white;
  }
  /* when the sidebar has 'show' class */
  #sidebar.show {
    pointer-events: all;
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
  .sidebar_content {
    padding: 2.8rem 0;
    pointer-events: none;
    /* so that the Sidebar does not get closed while clicking on sidebar_content */
  }
  .sidebar_content a {
    pointer-events: all;
    color: white;
    text-decoration: none;
    /* so that all the a inside sidebar_content are clickable */
  }
  .sidebar_body {
    border-top: 1px dashed var(--text-color);
    border-bottom: 1px dashed var(--text-color);
  }
  .side_navlinks ul {
    display: grid;
    gap: 2rem;
  }
  .side_navlinks li a {
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: 0.8;
  }
  .side_navlinks a:hover {
    opacity: 1;
  }
/* Styles for the hambuger button */
/*---- Sidebar-Toggler ----*/
.sidebar_toggler {
  visibility: hidden;
  margin-right: 25px;
  top: 4vh;
  right: 3vw;
  width: 2.3rem;
  height: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  overflow: hidden;
  z-index: 999;
  padding: 4px;
}
.sidebar_toggler span {
  
  width: 100%;
  height: 3px;
  transition: all 0.3s ease;
  pointer-events: none;
  border-radius: 6px;
  background-color: var(--dark);
  /* so that it doesn't overlap the sidebar_toggler */
}
/* if the sidebar has 'show' class then their adjacent-sibling (i.e., sidebar_toggler) will... */
#sidebar.show + .sidebar_toggler {
  justify-content: center;
}
#sidebar.show + .sidebar_toggler span {
  margin-top: -1.2px;
  margin-bottom: -1.2px;
}
#sidebar.show + .sidebar_toggler span:first-child {
  transform: rotate(45deg);
  background-color: white;
}
#sidebar.show + .sidebar_toggler span:nth-child(2) {
  opacity: 0;
  transform: translateX(-100%);
  background-color: white;
}
#sidebar.show + .sidebar_toggler span:last-child {
  transform: rotate(-45deg);
  background-color: white;
}

@media only screen and (max-width: 1000px) {
    .sidebar_toggler {
        visibility: visible;
    }
    .nav-head {
        visibility: hidden;
    }
}

/*Styles for the login screen container*/
.center-container {
    background-color: rgba(255, 255, 255, 0.89);
    padding: 20px;
    border-radius: 20px;
    max-width: 300px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

/*CSS for the pages and top bar*/
.backgrounds {
    background-color: rgb(255, 255, 255);
}
.top-bar{
    width: 100%;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 5px;
    margin-top: 1px;
}
.top-bar div {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    background-color: transparent;
    align-items: center;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 10px;
    flex-wrap: nowrap;
}
@media screen and (max-width: 1200px) {
    .top-bar p {
      font-size: 14px; /* Reduce font size when screen width is smaller than 600px */
    }
    .top-bar .reciepts {
        display: none;
    }
    .top-bar img {
      display: none; /* Hide the image when font size is smaller than 14px */
    }
  }
.top-bar div:hover{
    color: var(--hover-green);
}
.top-bar a {
    display: flex;
    text-decoration: none;
    color: black;
    font-weight: bold;
    height: 100%;
    padding-left: 7px;
    padding-right: 7px;
    align-items: center;
}
.main-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

/*The side bar is the filters tab on the left side of the page*/
.side-bar{
    width: 13%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--accent);
    position: fixed;
    padding-bottom: 20px;
}
.inner-side-bar{
    width: 95%;
    margin: 0 auto;
}
.side-bar-header {
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.side-bar input[type="text"], .side-bar select, .side-bar input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

/*Used for the box where the table displays all the data from the database for members, family, donation*/
.results {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-left: 13%;
    background-color: rgb(184, 207, 218);
}
td {
    text-align: center;
    box-sizing: border-box;
}
/*These are the table rows that display the db records*/
.dark-row{
    background-color: var(--dark-row);
}
.light-row{
    background-color: var(--light-row);
}
.light-row, .dark-row {
    height: 45px;
}
/*Table CSS for the db results */
thead {
    position: sticky;
    top: 0;
    background-color: var(--table-header);
    height: 30px;
    box-sizing: border-box;
}
table{
    border: none;
    border-collapse: collapse;
    box-sizing: border-box;
}
#results-table tr:hover {
    border: 2px solid black;
    cursor: pointer;
}

/*Calendar page CSS*/
.calendar-container {
    width: 1000px;
    height: 600px;
    border: 1px solid #ccc;
    overflow: hidden;
    margin: auto;
    display: flex;
}
  
.calendar-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.centered-container{
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    background-color: white;
    width: 70%;
    flex-direction: column;
    margin: auto;
}

/*Dashboard Styles */
.dashboard-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.stats-row-container{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 30px;
    flex-direction: row;
}
/* The container that surrounds the websites statistics such as total members and total families*/
.stats-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--accent);
    width: 25%;
    border-radius: 20px;
    text-align: center;
    min-height: 300px;
    border-bottom: 2px solid #3e702d;
    border-right: 2px solid #3e702d;
    box-shadow: 2px 2px 0 #3e702d;
}
.latest-members-main-container{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto;

}
.latest-members-main-container hr {
    width: 100%;
    background-color: var(--dark);
    height: 4px;
    border-radius: 5px;
}
/*This is the container of latest-member-wrapper containers*/
.latest-members-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    height: 200px;
    overflow-x: hidden;
}
/*This is the actual container surrounding each individual member */
.latest-members-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 98%;
    margin: auto;
    border: 2px solid var(--accent);
    min-height: 40px;
    border-radius: 15px;
}
/*Loading submit button*/
.loading {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*Styles used for login input boxes*/
.form {
    --width-of-input: 200px;
    --border-height: 1px;
    --border-before-color: rgba(8, 8, 8, 0.39);
    --border-after-color: #5891ff;
    --input-hovered-color: #4985e01f;
    position: relative;
    width: var(--width-of-input);
    margin: 0 auto;
}
/* styling of Input */
.input {
    color: #000000;
    font-size: 0.9rem;
    background-color: var(--white) !important;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
/* styling of animated border */
.input-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s;
}
/* Hover on Input */
input:hover {
    background: var(--input-hovered-color);
}

input:focus {
    outline: none;
}
/* here is code of animated border */
input:focus ~ .input-border {
    width: 100%;
}

.login-container {
    background: url('../assets/train-bridge.jpg') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.login-btn {
    width: 60%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid black;
    position: relative;
    transition: all 0.3s ease;
}
  
.login-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: -1;
    transition: all 0.3s ease;
}
  
.login-btn:hover {
    transform: translateX(3%);
}
  
.login-btn:hover::before {
    left: 0;
}

/*Profile screen styles*/
.profile-main-container{
    display: flex;
    margin: 0 auto;
    width: 70%;
    background-color: var(--accent);
    border-radius: 20px;
    justify-content: center;
}
.profile-inner-container {
    width: 50%;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    background-color: var(--hover-green);
    justify-content: center;
}
.profile-section {
    display: flex;
    flex-direction: column;
}
#editButton {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
#submitButton {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
#cancelButton {
    background-color: #ecdd0c;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
#submitButton2 {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
#cancelButton2 {
    background-color: #ecdd0c;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
#deleteButton {
    background-color: #ec1b0c;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.profile-inner-container input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
.profile-inner-container select{
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

/*Used for mass emails*/

.mass-email-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

/*Banner Gifs*/
.gif-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-top: 6px solid var(--dark);
    border-bottom: 6px solid var(--dark);
    width: 100%;
}

.gif {
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: -1;
}

.text {
    position: absolute;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: 'Lusitana', serif;
    font-size: 60px;
}

.letter-highlight{
    color: var(--highlight);
}

@media only screen and (max-width: 900px) {
    .text {
        font-size: 35px;
    }
}

@media only screen and (max-width: 600px) {
    .text {
        font-size: 20px;
    }
}