:root{
    --white: #FFFFFF;
    --light-green: #EFF4E7;
    --dark: #3e702d;
    --accent: #CADCB3;
    --dark-row: #CADCB3;
    --light-row: #dfe9df;
    --table-header: #3e702d;
    --table-border: #751313;
}


* {
    font-family: sans-serif;
}
body, html{
    margin:0;
    padding:0;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
    align-items: center;
    background-color: white;
    margin-bottom: 25px;
}
header a {
    text-decoration: none;
    color: black;
}

.backgrounds {
    background-color: var(--light);
}
.top-bar{
    width: 93%;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    justify-content: space-evenly;
    margin-bottom: 5px;
    margin-top: 1px;
}
.top-bar div {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--accent);
    align-items: center;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 25px;
    padding: 20px;
}
.top-bar a {
    display: flex;
    text-decoration: none;
    color: black;
    font-weight: bold;
    height: 100%;
    padding-left: 7px;
    padding-right: 7px;
    align-items: center;
}
.main-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.side-bar{
    width: 15%;
    display: flex;
    height: 575px;
    flex-direction: column;
    text-align: center;
    background-color: var(--accent);
    position: fixed;
}
.side-bar-header {
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
    justify-content: center;
    background-color: rgb(235, 235, 235);
}
.results {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-left: 15%;
    background-color: rgb(184, 207, 218);
}
td {
    text-align: center;
}
.dark-row{
    background-color: var(--dark-row);
}
.light-row{
    background-color: var(--light-row);
}
.light-row, .dark-row {
    height: 35px;
}
thead {
    position: sticky;
    top: 0;
    background-color: var(--table-header);
    height: 30px;
}
table {
    border-color: var(--table-border);
}
table tr:hover {
    box-shadow: 0 0 10px #0077FF;
    cursor: pointer;
}
tr th {
    border-right: 2px solid rgb(158, 187, 199);;
}

.calendar-container {
    width: 1000px;
    height: 600px;
    border: 1px solid #ccc;
    overflow: hidden;
    margin: auto;
    display: flex;
}
  
.calendar-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.centered-container{
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    background-color: white;
    width: 70%;
    flex-direction: column;
    margin: auto;
}

body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    align-items: center;
}

/*Dashboard Styles */
.dashboard-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.stats-row-container{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 30px;
    flex-direction: row;
}
.stats-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--accent);
    width: 25%;
    border-radius: 20px;
    text-align: center;
    min-height: 300px;
    border-bottom: 2px solid #3e702d;
    border-right: 2px solid #3e702d;
    box-shadow: 2px 2px 0 #3e702d;
}
.latest-members-main-container{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto;

}
.latest-members-main-container hr {
    width: 100%;
    background-color: var(--dark);
    height: 4px;
    border-radius: 5px;
}
/*This is the container of latest-member-wrapper containers*/
.latest-members-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    height: 200px;
    overflow-x: hidden;
}
/*This is the actual container surrounding each individual member */
.latest-members-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 98%;
    margin: auto;
    border: 2px solid var(--accent);
    min-height: 40px;
    border-radius: 15px;
}